* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#cont1 {
    width: 10%;
    height: 10vh;
    font-size: 4rem;
    background-color: lightsalmon;
    color: white;
    text-decoration: none;
    animation-name: anim1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: 20rem;

}

@keyframes anim1 {
    from {
        color: white;
        background-color: lightsalmon;
        font-size: 4rem;
        transform-origin: top;
        transform: rotate(0)  scale(1);
    }
    to {
        color: black;
        background-color: lightblue;
        font-size: 5rem;
        transform-origin: top;
        transform: rotate(360deg)  scale(1.5);
    }
}

#cont2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid red;
    animation-name: anim2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes anim2 {
    0% { right: 0}
    50%  {right: calc(100vw - 40px) }
    100% { right: 0}
}